/* Enter your custom styles here */
.tableCss{

    width: 80%;
    margin: 20px 0;
    border-bottom: 2px solid darkcyan;
    border-top: 2px solid darkcyan;
    border-right: 2px solid darkcyan;
    border-left: 2px solid darkcyan;

}


.barContent {
    background-color: #f8f8f8;
    border-bottom: 1px solid #dcdcdc; 
    padding: 10px 20px; 
}

.barContent .sapMImg {
    vertical-align: middle; 
}


